[Unit]
Description=Mailpit SMTP and Web UI
After=network.target

[Service]
ExecStart={{ mailpit_install_dir }}/mailpit \
  --listen {{ mailpit_ui_bind }} \
  --smtp {{ mailpit_smtp_bind }}
Restart=always
User={{ mailpit_user }}
Group={{ mailpit_group }}

[Install]
WantedBy=multi-user.target