.card {
    margin-bottom: 20px;

    .card-header {
        .card-header-buttons {
            line-height: 1;
        }
    }

    .card-footer {
        .record-counter {
            margin: 0;
            font-size: .6875rem;
            font-style: italic;
            color: $gray-600;
            line-height: 1.75rem;
        }
    }
}
