{% for server in chrony_ntp_servers %}
server {{ server }} iburst
{% endfor %}
{% for pool in chrony_ntp_pools %}
pool {{ pool }} iburst
{% endfor %}

driftfile /var/lib/chrony/chrony.drift
makestep 1.0 3
rtcsync

logdir /var/log/chrony
